<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >Game Forum</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a></li>
        <li><a routerLink="/games" routerLinkActive="active">Games</a></li>
        <li><a routerLink="/lfg" routerLinkActive="active">Looking for a group</a></li>
        <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/profile"  *ngIf="signed">{{model.username}}</a></li>
        <li><a routerLink="/login/signout" routerLinkActive="active" *ngIf="signed">Sign Out</a></li>
        <li class="active"><a routerLink="/login" routerLinkActive="active" *ngIf="!signed">Sign In</a></li>
        <li><a routerLink="/signup" routerLinkActive="active" *ngIf="!signed">Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container"> 

<div [hidden]="valid">
                     <div class="alert alert-warning">
                       <p class="text-center"><strong>Error !</strong> Your account has not been validated</p>
                    </div>
</div>
<div [hidden]="!problem">
                     <div class="alert alert-danger">
                       <p class="text-center"><strong>Error !</strong> Problem with the username or password</p>
                    </div>
</div>
<div [hidden]="!signed" >
                     <div class="alert alert-success">
                       <p class="text-center"><strong>Success !</strong> Your are logged</p>
                    </div>
</div>
<div [hidden]="sent" >
                     <div class="alert alert-success">
                       <p class="text-center"><strong>Success !</strong> Email sent</p>
                    </div>
</div>

<form class="well" name="login" *ngIf="!signed">
     <h1 class="text-center"><span class="glyphicon glyphicon-log-in"></span> Login</h1>
    <div class="form-group">    
    <!--New Design-->
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <!-- LOGIN FORM -->
               <div class="form-group">
                    <label>Userame</label>
                    <input type="text" class="form-control" [(ngModel)]="model.username" [disabled]="reset" name="username" id="username" required   >
                </div>
                <div class="form-group">
                    <label>Password</label>
                        <input type="password" class="form-control" [(ngModel)]="model.password" [disabled]="reset" name="password" id="password" required >
                    <a  (click)="passwordForgot()">Forgot Password ?</a>
                </div>

                
                
                
                <br />
                <div class="text-center">
                <button type="submit" (click)="signIn()" [disabled]="reset" class="btn btn-success btn-lg">Submit</button>
                </div>

            <hr>
        </div>
    </div>
    </div>

</form>



<form class="well" name="login" *ngIf="!signed" [hidden]="!reset">
  <div class="container">
        <div class="col-md-4 col-md-offset-4">
<div class="form-group" >
                  <p><b>Send an email to reset your password</b></p>
                    <label>Email </label>
                        <input type="text" class="form-control" [(ngModel)]="email" name="email" id="email" required >
                        <br />
                        <div class="text-center">
                          <button type="submit" (click)="sendEmail()" class="btn btn-success btn-lg">Send email</button>
                        </div>
</div>
        </div>
</div>
</form>


    

